.acercaDE{
background-image:url("https://i.pinimg.com/736x/68/1e/47/681e47bfa668cdbf515b929d9b4d8acc.jpg") ;
width: auto;
height: 6.8cm;
margin-top: 1cm;

}
.texto p{
    color: rgb(92, 18, 18);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.507);
    text-align: center;
    padding-top: 2cm;
   
    

;
}