.tarjetas {
    margin-top: 20px;
    padding: 50px;
    background-color: hsla(147, 57%, 19%, 0.815);
    display: flex;
    color: #0c4b1f;
    height: auto;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    margin: 10px;
    font-family: "Dancing Script", cursive;
    font-size: 8px;
}

.uno {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10%;

}

.tiuno {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: #32d162;
    -webkit-text-stroke: 3px #ffffff;
}

.uno img {
    width: 400px;
    height: auto;

}

.dos {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: rgba(251, 255, 249, 0.438);
    border-radius: 10%;

}

.dos img {
    width: 500px;
    height: auto;
}

.tres {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: rgba(251, 255, 249, 0.438);
    border-radius: 10%;
}

.tres img {
    width: 500px;
    height: auto;
}

.tarjetas img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}