.texto1{
    background-image: url(assets/imgg.avif);
    margin: 50px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
     height: 500px;
    align-items: center;
    align-content: center;
    width:auto;
    justify-content: space-around;
    text-align: center;
    
}